<div class="card border-primary mb-3">
    <div class="card-header ">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Clientes</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Fecha Probable Muerte</th>
                    <th>Eliminar</th>
                    <th>Actualizar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="clients.length == 0">
                    <td class="text-center" colspan="7">No hay clientes aun</td>
                </tr>
                <tr *ngFor="let c of clients">
                    <td>{{c.nombre}}</td>
                    <td>{{c.apellido}}</td>
                    <td>{{c.edad}}</td>
                    <td>{{c.fec_nac}}</td>
                    <td>{{c.fec_mue}}</td>
                    <td><button (click)="deleteClient($event , c)" class="btn btn-danger">
                        Eliminar
                      </button></td>

                    <td><button (click)="editClient($event , c)" class="btn btn-primary" data-toggle="modal" data-target="#clienteModal">
                        Modificar</button></td>

                    <div *ngIf="editing && editingClient.id == c.id" class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-labelledby="clienteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="clienteModalLabel">Actualizar Cliente</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form (ngSubmit)="updateClient()">
                                        <div class="form-group mt-3">
                                            <input type="text" name="nombre" [(ngModel)]="editingClient.nombre" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="apellido" [(ngModel)]="editingClient.apellido" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" name="edad" [(ngModel)]="editingClient.edad" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="fec_nac" [(ngModel)]="editingClient.fec_nac" class="form-control">
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="button" class="btn btn-secondary" routerLink="/lista-clientes" data-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary ml-2" onclick="$('#clienteModal').modal('hide');">Actualizar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>