<div class="card border-primary mb-3">
    <div class="card-header ">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">KPI de Clientes</h5>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Promedio de edades</th>
                    <th>Desviación estándar de edades</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{promEdades()}}
                    </td>
                    <td>
                        {{desEstandar()}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>