<div class="card border-primary mb-3">
    <div class="card-header ">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Creación de Clientes</h5>
        <form (ngSubmit)="addClient()">
            <div class="form-group">
                <input type="text" name="nombre" [(ngModel)]="client.nombre" class="form-control" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input type="text" name="apellido" [(ngModel)]="client.apellido" class="form-control" placeholder="Apellido">
            </div>
            <div class="form-group">
                <input type="number" name="edad" [(ngModel)]="client.edad" class="form-control" placeholder="Edad">
            </div>
            <div class="form-group">
                <input type="text" name="fec_nac" [(ngModel)]="client.fec_nac" class="form-control" placeholder="Fecha de Nacimiento">
            </div>
            <button class="btn btn-success btn-block">Save</button>
        </form>
    </div>
</div>